<footer class="main-footer">
  <div class="main-footer__upper">
    <div class="main-container">
      <ul class="main-footer__links">
        <li class="main-footer__link">
          <a href="./index.html">Home</a>
        </li>
        <li class="main-footer__link">
          <a href="./index.html#about">About</a>
        </li>
        <li class="main-footer__link">
          <a href="./index.html#projects">Projects</a>
        </li>
        <li class="main-footer__link">
          <a href="./index.html#contact">Contact</a>
        </li>
      </ul>
      <div class="main-footer__mid-line"></div>
      <div class="main-footer__socials">
        <a href="https://github.com/Prads-ai" class="main-footer__social-link">
          <img
            src="https://d33wubrfki0l68.cloudfront.net/5557d5a11584d7201a38ee1a95200f57a4cc0f88/15085/assets/png/github-ico.png"
            alt=""
            class="main-footer__social-link-icon"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/prads-dht-755a031a4/"
          class="main-footer__social-link"
        >
          <img
            src="https://d33wubrfki0l68.cloudfront.net/7f29579dde49e02480372aa49f7189c5536b0118/34b92/assets/png/linkedin-ico.png"
            alt=""
            class="main-footer__social-link-icon"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="main-footer__bottom">
    <div class="main-container">
      <p class="main-footer__bottom-txt">
        <script>
          document.write(new Date().getFullYear());
        </script>
        .Made by
        <a target="_blank" href="#">Pradsley D'Haiti</a>
      </p>
    </div>
  </div>
</footer>
