<section id="about" class="about main-section">
  <div class="main-container">
    <h2 class="heading-secondary projects__heading-secondary">
      <span class="heading-secondary__main">
        <div class="socials">
          <a
            href="https://github.com/Prads-ai"
            class="main-footer__social-link"
          >
            <img
              src="/assets/githubLogo.png"
              alt=""
              class="main-footer__social-link-icon"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/prads-dht-755a031a4/"
            class="main-footer__social-link"
          >
            <img
              src="/assets/linkedInLogo.png"
              alt=""
              class="main-footer__social-link-icon resume animate__animated animate__heartBeat animate__delay-2s"
            />
          </a>
        </div>
      </span>
    </h2>
    <div class="main-section__content">
      <div class="about__info">
        <div class="about__main-info">
          <h3 class="heading-quaternary about__heading-quaternary">My Story</h3>
          <p class="text-primary about__text-primary">
            <span>
              I graduated with an associate degree in computer programming from
              Chattahoochee Technical College of Georgia, where I also work as a
              programming tutor. I enjoy helping students to learn and to
              understand the concepts of programming, as well as develop their
              skills in coding and problem-solving. I find it rewarding to see
              their progress in understanding programming and how they gain
              confidence in their abilities.
            </span>
            <span>
              I love working either in teams or individually, and I enjoy
              working on both the front-end and back-end of an application.
            </span>
            <span>
              In my free time, when I'm not coding, you can find me cooking 🍚,
              playing soccer ⚽, or singing 🎤.
            </span>
          </p>
          <button class="btn btn-theme about__btn-theme" routerLink="/projects">
            Projects
          </button>
        </div>
        <div class="about__skill-info">
          <h3 class="heading-quaternary about__heading-quaternary">
            My Skills
          </h3>
          <ul class="about__skills">
            <li class="about__skill">html</li>
            <li class="about__skill">css</li>
            <li class="about__skill">javascript</li>
            <li class="about__skill">react</li>
            <li class="about__skill">node</li>
            <li class="about__skill">git</li>
            <li class="about__skill">.Net</li>
            <li class="about__skill">C#</li>
            <li class="about__skill">Java</li>
            <li class="about__skill">Servlet</li>
            <li class="about__skill">JSP</li>
            <li class="about__skill">SQL</li>
            <li class="about__skill">EXPRESS BASIC</li>
            <li class="about__skill">NPM BASIC</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
