<section id="projects" class="projects main-section">
  <div class="main-container">
    <h2 class="heading-secondary projects__heading-secondary">
      <span class="heading-secondary__sm"> Projects 🛠️</span>
    </h2>

    <div class="main-section__content">
      <div class="projects__list">
        <div class="projects__list-item">
          <div class="projects__list-item-count">
            <span class="projects__list-item-count-num"> 1 </span>
            <span class="projects__list-item-count-line"> </span>
            <span class="projects__list-item-count-end-dot"> </span>
          </div>
          <div class="projects__list-item-details">
            <div class="projects__list-item-img-cont">
              <img
                src="./assets/mock.png"
                alt="Project Image"
                class="projects__list-item-img"
              />
              <a href="https://www.healthyhairpj.com/"
                ><img
                  class="actual_project"
                  src="./assets/healthyHairByPj.jpg"
                  alt="healthyHairByPj website image"
              /></a>
            </div>
            <h3 class="heading-tertiary projects__list-item-heading-tertiary">
              Healthy Hair by PJ
            </h3>
            <!-- <hr class="projects__title-text-divider" /> -->

            <p class="text-primary projects__list-item-text-primary">
              <span>
                HealthyHairPJ.com is a website dedicated to providing
                information and resources on hair care, with a focus on
                promoting healthy and natural approaches to hair care.
              </span>
              <!-- <br />
              <br /> -->
            </p>
            <a href="https://www.healthyhairpj.com/"
              ><button class="hidden btn-theme projects__btn-theme">
                Live Link
              </button></a
            >
            <a href="https://github.com/Prads-ai/Healthy-Hair.git">
              <button class="btn btn-theme projects__btn-theme">
                Code Link
              </button>
            </a>
          </div>
        </div>

        <div class="projects__list-item projects__list-item--inv">
          <div class="projects__list-item-count">
            <span class="projects__list-item-count-num"> 2 </span>
            <span class="projects__list-item-count-line"> </span>
            <span class="projects__list-item-count-end-dot"> </span>
          </div>
          <div class="projects__list-item-details">
            <div class="projects__list-item-img-cont">
              <img
                src="./assets/chiropractor-project.jpg"
                alt="chiropractor project"
                class="projects__list-item-img"
              />
            </div>
            <h3 class="heading-tertiary projects__list-item-heading-tertiary">
              Java Healthcare Web Application
            </h3>
            <!-- <hr class="projects__title-text-divider" /> -->

            <p class="text-primary projects__list-item-text-primary">
              <span>
                Developed a java web application project for a chiropractic
                clinic.
                <ul>
                  <li>• Features: Secure login, for patients and admins.</li>
                  <li>
                    • Patients: Online appointment scheduling & management,
                    access to appointment history.
                  </li>
                  <li>
                    • Admins: Manage clinic schedules and chiropractor
                    information.
                  </li>
                </ul>
              </span>
            </p>
            <button class="hidden btn btn-theme projects__btn-theme">
              Live Link
            </button>
            <button class="btn btn-inv projects__btn-inv">
              <a
                href="https://github.com/Prads-ai/Chiropractor-Booking-System.git"
              >
                Code Link
              </a>
            </button>
          </div>
        </div>

        <div class="projects__list-item">
          <div class="projects__list-item-count">
            <span class="projects__list-item-count-num"> 3 </span>
            <span class="projects__list-item-count-line"> </span>
            <span class="projects__list-item-count-end-dot"> </span>
          </div>
          <div class="projects__list-item-details">
            <div class="projects__list-item-img-cont">
              <img
                src="./assets/TwitterModelApi.png"
                alt="Project Image"
                class="projects__list-item-img animate__animated animate__pulse"
              />
            </div>
            <h3 class="heading-tertiary projects__list-item-heading-tertiary">
              Twitter Model Api
            </h3>
            <!-- <hr class="projects__title-text-divider" /> -->
            <p class="text-primary projects__list-item-text-primary">
              <li>
                Implemented a RESTful Web Service with 13 endpoints to handle
                user, tweet and hashtag operation, incorporating CRUD
                functionalities and various HTTP Request.
              </li>
              <li>
                Developed a user Entity and relationship management with other
                entities in collaboration with other developers, supported by
                PostgreSQL Database schema/ERD in PGAdmin.
              </li>
              <li>
                Developed a Spring Data JPA repository to handle user
                persistence and retrieval.
              </li>
              <li>
                Developed Spring Boot controllers and services using JPA to
                handle user tweet retrieval requests.
              </li>
              <li>
                Tested, troubleshot, and debugged API functionality in postman.
              </li>
            </p>

            <button class="hidden btn btn-theme projects__btn-theme">
              Live Link
            </button>
            <a
              href="https://github.com/fasttrackd-student-work/spring-assessment-social-media-may-2024-team-1.git"
            >
              <button class="btn btn-inv projects__btn-inv">
                Code Link
              </button></a
            >
          </div>
        </div>
        <div class="hidden projects__list-item projects__list-item--inv">
          <div class="hidden projects__list-item-details">
            <div class="hidden projects__list-item-img-cont">
              <img
                src="./assets/mock.png"
                alt="Project Image"
                class="projects__list-item-img"
              />
            </div>
            <h3 class="heading-tertiary projects__list-item-heading-tertiary">
              Project Name
            </h3>
            <!-- <hr class="projects__title-text-divider" /> -->

            <p class="text-primary projects__list-item-text-primary">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error,
                aliquid! Itaque corrupti magnam fugiat mollitia labore magni
                saepe veritatis voluptatum alias fugit. Explicabo ducimus
              </span>
              <!-- <br />
              <br /> -->
              <span>
                sapiente aut corporis odio repellendus? Lorem ipsum dolor sit
                amet, consectetur adipisicing elit
              </span>
            </p>
            <button class="btn btn-theme projects__btn-theme">Live Link</button>
            <button class="btn btn-inv projects__btn-inv">Code Link</button>
          </div>
          <div class="hidden">
            <span class="projects__list-item-count-num"> 4 </span>
            <span class="projects__list-item-count-line"> </span>
            <span class="projects__list-item-count-end-dot"> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
