<section id="home-hero" class="home-hero">
  <div class="home-hero__content">
    <div class="home-hero__info">
      <h1 class="heading-primary home-hero__heading-primary">
        <span class="heading-primary__main">
          <h2 class="heading_my-name">I'm Pradsley D'Haiti!</h2>
          <p>
            {{ bio }}
          </p>
          <button
            class="resume animate__animated animate__bounceIn animate__delay-2s"
          >
            <a
              href="https://drive.google.com/file/d/1Ta3Gt38Dr-6rO6eJJ3eVXcxqSLEqqpVZ/view?usp=sharing"
              download
              >Download Resume</a
            >
          </button>
        </span>
      </h1>
    </div>
  </div>
</section>
